/* SECTION HERO STYLE */
.cover {
  background: url("/cover.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage .header-box h1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--text-color-light);
}

.homepage .header-box h1 span {
  font-weight: 800;
}

.homepage .header-box p {
  line-height: 2;
  font-weight: 500;
  font-size: 19px;
  color: var(--text-color-light);
}

.homepage .header-box .btn {
  font-size: 19px;
}

@media screen and (max-width: 995px) {
  .homepage .header-box h1 {
    font-size: 3rem;
  }

  .homepage .header-box p {
    font-size: 17px;
  }

  .homepage .header-box .btn {
    font-size: 17px;
  }
}

@media screen and (max-width: 795px) {
  .homepage .header-box h1 {
    font-size: 2.7rem;
  }

  .homepage .header-box p {
    font-size: 15px;
  }

  .homepage .header-box .btn {
    font-size: 15px;
  }
}

@media screen and (max-width: 595px) {
  .homepage .header-box h1 {
    font-size: 2.5rem;
  }

  .homepage .header-box p {
    font-size: 13px;
  }

  .homepage .header-box .btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 495px) {
  .homepage .header-box h1 {
    font-size: 2.2rem;
  }

  .homepage .header-box p {
    font-size: 11px;
  }

  .homepage .header-box .btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 395px) {
  .homepage .header-box h1 {
    font-size: 2rem;
  }

  .homepage .header-box p {
    font-size: 14px;
  }

  .homepage .header-box .btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 295px) {
  .homepage .header-box h1 {
    font-size: 1.8rem;
  }

  .homepage .header-box p {
    font-size: 7px;
  }

  .homepage .header-box .btn {
    font-size: 10px;
  }
}

/* ======================================================================================= */
/* SECTION ABOUT STYLE */
.homepage .about {
  background: linear-gradient(0deg, #575376 0%, #292640 100%);
  padding-bottom: 80px;
  color: var(--text-color-light);
}

.homepage .about a{
  text-decoration: none;
  color: var(--text-color-light);
}

.homepage .about a:hover{
  color: var(--secondary-color);
}

.homepage .about .row:nth-child(1) {
  padding-top: 150px;
  padding-bottom: 50px;
}

.homepage .about .row:nth-child(1) h1,
.homepage .about .row:nth-child(1) p {
  color: var(--text-color-light);
}

.homepage .about .swiper-slide img {
  border-radius: 15px;
  object-fit: cover;
}

.homepage .about .swiper-button-prev {
  left: var(--swiper-navigation-sides-offset, 20px) !important;
  color: var(--text-color-light) !important;
}

.homepage .about .swiper-button-next {
  right: var(--swiper-navigation-sides-offset, 20px) !important;
  color: var(--text-color-light) !important;
}

.homepage .about .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px var(--text-color-light));
}

.homepage .about .swiper-pagination-bullet-active {
  background: var(--text-color-light);
}

/* ======================================================================================= */
/* SECTION SERVICES STYLE */
.homepage .services {
  background: linear-gradient(0deg, #eff0f3 0%, #575376 100%);
  padding-bottom: 80px;
  color: var(--text-color-light);
}

.homepage .services .row:nth-child(1) {
  padding-top: 150px;
  padding-bottom: 100px;
}

.homepage .services .row:nth-child(1) h1,
.homepage .services .row:nth-child(1) p {
  color: var(--text-color-light);
}

.homepage .services .row:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.homepage .services .row:nth-child(2) .card {
  width: 100%;
  border: black;
  border-radius: 15px;
  margin-bottom: 2rem;
  display: grid;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.homepage .services .row:nth-child(2) .card-img-top {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  height: 250px;
  align-items: center;
}

.homepage .services .row:nth-child(2) .card-body {
  display: grid;
  background-color: var(--navbar-color);
  border-radius: 0 0 15px 15px;
  height: 230px;
}

.homepage .services .row:nth-child(2) .card-title {
  font-size: 20px;
}

.homepage .services .row:nth-child(2) .card-text {
  font-size: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10; /* Number of lines displayed before it truncate */
  overflow: hidden;
}

.btn-service-book {
  font-size: 17px !important;
  padding: 0 !important;
}

/* ======================================================================================= */
/* SECTION TESTIMONIAL STYLE */
.homepage .testimonial {
  background-color: var(--background-color);
  padding-bottom: 100px;
  color: var(--primary-color);
}

.homepage .testimonial .row:nth-child(1) {
  padding-top: 100px;
  padding-bottom: 75px;
}

.homepage .testimonial .row:nth-child(1) h1,
.homepage .testimonial .row:nth-child(1) p {
  color: var(--primary-color);
}

.homepage .testimonial .row:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.homepage .testimonial .swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.homepage .testimonial .swiper-slide {
  text-align: center;
  background-color: var(--navbar-color);
  padding: 20px;

  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  cursor: grab;
}

.homepage .testimonial .swiper-slide:active {
  cursor: grabbing;
}

.homepage .testimonial .swiper-slide .people {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 10px;
}

.homepage .testimonial .swiper-slide .detail p{
  opacity: 50%;
  margin: 0;
}

.homepage .testimonial .swiper-slide .desc {
  color: var(--primary-color);
  font-weight: 500;
  line-height: 2;
  margin-bottom: 10px;
  text-align: justify;
  padding-top: 75px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* Number of lines displayed before it truncate */
  overflow: hidden;
}

.homepage .testimonial .swiper-slide .people h5,
.homepage .testimonial .swiper-slide .people p {
  color: var(--primary-color);
}

.homepage .testimonial .swiper-slide .people h6 {
  font-weight: 600;
}

.homepage .rating {
  font-size: 15px;
  color: rgb(238, 192, 7);
  margin-right: 10px;
}

.homepage .titik {
  font-size: 6px;
  margin-right: 10px;
  margin-top: 3.5px;
}

.homepage .testimonial .row:nth-child(3) {
  padding-top: 100px;
}

@media screen and (max-width: 795px) {
  .homepage .testimonial .swiper {
    padding-inline: 10px;
  }
}
/* ======================================================================================= */
/* SECTION FAQ STYLE */
.homepage .faq {
  background-color: var(--background-color);
  padding-bottom: 100px;
  color: var(--primary-color);
}

.homepage .faq .row:nth-child(1) {
  padding-top: 100px;
  padding-bottom: 75px;
}

.homepage .faq .row:nth-child(1) h1,
.homepage .faq .row:nth-child(1) p {
  color: var(--primary-color);
}

.homepage .faq .accordion .accordion-button {
  font-weight: bold;
  line-height: 1.5;
  background-color: var(--navbar-color);
  color: var(--primary-color);
}

.homepage .faq .accordion .accordion-button:focus {
  border: none;
  box-shadow: none;
}

.homepage .faq .accordion .accordion-body {
  background-color: var(--text-color-light);
}
