.testimonial-page {
  background: linear-gradient(0deg, #292640 0%, #eff0f3 100%);
  text-align: justify;

  .row:nth-child(1) img {
    width: 130px;
    cursor: pointer;
  }

  .header {
    margin: 50px 0;
  }

  .no-testimony {
    background-color: var(--navbar-color);
    height: 50px;
    padding: 13px 10px 10px 20px;
    border-radius: 10px;
  }

  .searchbar {
    span {
      height: 50px !important;
      background-color: #c6c6c6;
    }
    span:hover {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);
    }
  }

  .icon-plus {
    margin-right: 10px;
  }

  .input-group {
    width: auto !important;
  }

  .form-control {
    height: 50px !important;
  }

  .btn-primary-add {
    margin-left: 1rem;
    background-color: #c6c6c6 !important;
    height: 50px !important;
  }

  .btn-primary-add:hover {
    background-color: var(--secondary-color) !important;
  }

  .row:nth-child(4) .card {
    width: 100%;

    margin-bottom: 10px;
    background-color: var(--background-color);
  }

  .detail p {
    opacity: 50%;
    margin: 0;
  }

  .row:nth-child(4) .col:nth-child(1) .rating {
    font-size: 15px;
    color: rgb(238, 192, 7);
    margin-right: 10px;
  }

  .row:nth-child(4) .col:nth-child(1) .dot {
    font-size: 6px;
    margin-right: 10px;
    margin-top: 3.5px;
  }

  .row:nth-child(4) .col:nth-child(1) .card-title p {
    font-size: 16px;
    font-weight: bold;
  }

  @media screen and (max-width: 991px) {
    .row:nth-child(1) img {
      width: 120px;
    }
  }

  @media screen and (max-width: 767px) {
    .row:nth-child(1) img {
      width: 110px;
    }
  }

  @media screen and (max-width: 575px) {
    .row:nth-child(1) img {
      width: 115px;
    }

    .form-control {
      font-size: 12px;
    }

    .input-group-text i {
      font-size: 13px;
    }

    .btn-primary-add {
      width: 223px !important;
      font-size: 13px;
    }

    .btn-primary-add i {
      font-size: 13px;
    }

    .card-text span {
      font-size: 13px;
    }
  }
}
