.sidebar {
  overflow: "scroll initial";
  color: #fff !important;
  background-color: #333 !important;

  .nav-link:hover {
    color: var(--secondary-color-active);
  }

  .nav-link.active {
    color: var(--secondary-color-active);
  }
}

.title {
  margin-right: 15px;
}

hr {
  margin-bottom: 0;
}
